@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* General Styles */
.dashboard {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.session-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Default layout */
  gap: 20px;
}

.session-box {
  background: linear-gradient(135deg, #ffffff 0%, #f6f6f6 100%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.session-box:hover {
  transform: translateY(-3px);
}

.session-info {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.session-info:last-child {
  border-bottom: none;
}

.session-info strong {
  font-weight: bold;
  color: #333333;
}

.session-info:hover {
  background-color: #f0f0f0;
}
.active-session {
  border: 2px solid #007bff;
}
.session-description {
  background-color: #c3e6cb; 
  color: #155724; 
  padding: 5px;
  border-radius: 5px; 
  margin-top: 5px; 
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  .session-container {
      grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Show only two columns */
      gap: 10px;
  }
}

